body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image {
float: left;
margin-right: 50px;
height: 200px
}

.card {
  width: 45%;

}

.left{
  float: left;
}

.right {
float: right;
}


@media (max-width: 680px){
  h1 {
    font-size: 50px;
    text-decoration: center;
  }

 .card {
  width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }
 .tile-image{
  margin-top: 15px;
  margin-bottom: 20px;
 }
}